# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8082"            # The port your server will listen on
HOST="localhost"       # Hostname for the server
JWT_SECRET="@12345!@#$6789!"

# CORS Settings
CORS_ORIGIN="http://localhost:3000" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP


MAIL_HOST="gmail"
MAIL_USERNAME=""
MAIL_PASSWORD=""

DATABASE_URL=""


MPESA_CONSUMER_SECRET=""
MPESA_CONSUMER_KEY=""
MPESA_PASS_KEY=""
MPESA_BUSINESS_SHORT_CODE=""
CALLBACK_URL="https://8365-41-80-118-95.ngrok-free.app/transactions/mpesa_callback/lipa"